.home-container {
    display: grid;
    grid-template-columns: 60vw 40vw;
    height: 100vh;
}

.image-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}